  #groupedtog {
    align-items: center;
  }
  .avatar1.propo {
    height: auto;
    width: 300px;
  }
  
  .avatar2.distd {
    height:auto;
    width: 392px;
  }
  .photo3.cupled {
    height: auto;
    width: 300px;
  }
  .photo4.music {
    height: auto;
    width: 300px;
  }